<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>idleAnim0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{119,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,142}</string>
				<key>spriteSourceSize</key>
				<string>{119,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{119,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idleAnim0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{119,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,142}</string>
				<key>spriteSourceSize</key>
				<string>{119,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{119,0},{119,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idleAnim0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,8},{119,134}}</string>
				<key>spriteOffset</key>
				<string>{0,-8}</string>
				<key>spriteSize</key>
				<string>{120,142}</string>
				<key>spriteSourceSize</key>
				<string>{119,134}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{238,0},{119,134}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idleAnim0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,15},{118,127}}</string>
				<key>spriteOffset</key>
				<string>{-1,-15}</string>
				<key>spriteSize</key>
				<string>{120,142}</string>
				<key>spriteSourceSize</key>
				<string>{118,127}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{357,0},{118,127}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idleAnim0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,8},{119,134}}</string>
				<key>spriteOffset</key>
				<string>{0,-8}</string>
				<key>spriteSize</key>
				<string>{120,142}</string>
				<key>spriteSourceSize</key>
				<string>{119,134}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,142},{119,134}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idleAnim0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,4},{119,138}}</string>
				<key>spriteOffset</key>
				<string>{-1,-4}</string>
				<key>spriteSize</key>
				<string>{120,142}</string>
				<key>spriteSourceSize</key>
				<string>{119,138}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{119,142},{119,138}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idleAnim0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{119,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,142}</string>
				<key>spriteSourceSize</key>
				<string>{119,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{238,142},{119,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idleAnim0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{119,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,142}</string>
				<key>spriteSourceSize</key>
				<string>{119,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{357,142},{119,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>idleAnimList.png</string>
				<key>textureFileName</key>
				<string>idleAnimList</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
