<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>jumpAnim0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{120,0},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{240,0},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,0},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{480,0},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{600,0},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{720,0},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{840,0},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,334},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{120,334},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{240,334},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,334},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{480,334},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{600,334},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{720,334},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{840,334},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,668},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{120,668},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{240,668},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,668},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{480,668},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{600,668},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{720,668},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{840,668},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1002},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{120,1002},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{240,1002},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,1002},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{480,1002},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{600,1002},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{720,1002},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,334}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{120,334}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{840,1002},{120,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>jumpAnimList.png</string>
				<key>textureFileName</key>
				<string>jumpAnimList</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
