<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>jumpAnim0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,222},{118,112}}</string>
				<key>spriteOffset</key>
				<string>{-2,-222}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,112}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{118,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,222},{118,112}}</string>
				<key>spriteOffset</key>
				<string>{-2,-222}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,112}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{118,0},{118,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{-2,-192}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{236,0},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{-2,-192}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{354,0},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{-2,-156}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{472,0},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{-2,-156}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{590,0},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{-2,-108}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{708,0},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{-2,-108}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{826,0},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{-2,-66}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,142},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{-2,-66}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{118,142},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{0,-38}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{236,142},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{0,-38}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{354,142},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{0,-19}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{472,142},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{0,-19}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{590,142},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{708,142},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{826,142},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{0,-19}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,284},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{0,-19}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{118,284},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{0,-38}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{236,284},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{0,-38}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{354,284},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{-2,-66}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{472,284},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{-2,-66}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{590,284},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{-2,-108}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{708,284},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{-2,-108}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{826,284},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{-2,-156}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,426},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{-2,-156}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{118,426},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{-2,-192}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{236,426},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{-2,-192}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{354,426},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,222},{118,112}}</string>
				<key>spriteOffset</key>
				<string>{-2,-222}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,112}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{472,426},{118,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,222},{118,112}}</string>
				<key>spriteOffset</key>
				<string>{-2,-222}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,112}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{590,426},{118,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,222},{118,112}}</string>
				<key>spriteOffset</key>
				<string>{-2,-222}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,112}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{708,426},{118,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jumpAnim0031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,192},{118,142}}</string>
				<key>spriteOffset</key>
				<string>{-2,-192}</string>
				<key>spriteSize</key>
				<string>{120,334}</string>
				<key>spriteSourceSize</key>
				<string>{118,142}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{826,426},{118,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>jumpAnimList2.png</string>
				<key>textureFileName</key>
				<string>jumpAnimList2</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
