<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>walkAnim0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,143}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,143}</string>
				<key>spriteSourceSize</key>
				<string>{118,143}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{118,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,143}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,143}</string>
				<key>spriteSourceSize</key>
				<string>{118,143}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{118,0},{118,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,143}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,143}</string>
				<key>spriteSourceSize</key>
				<string>{118,143}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{236,0},{118,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,143}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,143}</string>
				<key>spriteSourceSize</key>
				<string>{118,143}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{354,0},{118,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,143}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,143}</string>
				<key>spriteSourceSize</key>
				<string>{118,143}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,143},{118,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,143}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,143}</string>
				<key>spriteSourceSize</key>
				<string>{118,143}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{118,143},{118,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,143}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,143}</string>
				<key>spriteSourceSize</key>
				<string>{118,143}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{236,143},{118,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,143}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,143}</string>
				<key>spriteSourceSize</key>
				<string>{118,143}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{354,143},{118,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,143}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,143}</string>
				<key>spriteSourceSize</key>
				<string>{118,143}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,286},{118,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,143}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,143}</string>
				<key>spriteSourceSize</key>
				<string>{118,143}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{118,286},{118,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,143}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,143}</string>
				<key>spriteSourceSize</key>
				<string>{118,143}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{236,286},{118,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,143}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,143}</string>
				<key>spriteSourceSize</key>
				<string>{118,143}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{354,286},{118,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,143}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,143}</string>
				<key>spriteSourceSize</key>
				<string>{118,143}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,429},{118,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,143}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,143}</string>
				<key>spriteSourceSize</key>
				<string>{118,143}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{118,429},{118,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,143}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,143}</string>
				<key>spriteSourceSize</key>
				<string>{118,143}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{236,429},{118,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,143}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,143}</string>
				<key>spriteSourceSize</key>
				<string>{118,143}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{354,429},{118,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,143}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,143}</string>
				<key>spriteSourceSize</key>
				<string>{118,143}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,572},{118,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,143}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,143}</string>
				<key>spriteSourceSize</key>
				<string>{118,143}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{118,572},{118,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,143}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,143}</string>
				<key>spriteSourceSize</key>
				<string>{118,143}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{236,572},{118,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,143}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,143}</string>
				<key>spriteSourceSize</key>
				<string>{118,143}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{354,572},{118,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>walkAnimList.png</string>
				<key>textureFileName</key>
				<string>walkAnimList</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
