<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>walkAnim0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,169}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,169}</string>
				<key>spriteSourceSize</key>
				<string>{124,169}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{124,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,169}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,169}</string>
				<key>spriteSourceSize</key>
				<string>{124,169}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{124,0},{124,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,169}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,169}</string>
				<key>spriteSourceSize</key>
				<string>{124,169}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,0},{124,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,169}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,169}</string>
				<key>spriteSourceSize</key>
				<string>{124,169}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,0},{124,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,169}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,169}</string>
				<key>spriteSourceSize</key>
				<string>{124,169}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,169},{124,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,169}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,169}</string>
				<key>spriteSourceSize</key>
				<string>{124,169}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{124,169},{124,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,169}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,169}</string>
				<key>spriteSourceSize</key>
				<string>{124,169}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,169},{124,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,169}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,169}</string>
				<key>spriteSourceSize</key>
				<string>{124,169}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,169},{124,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,169}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,169}</string>
				<key>spriteSourceSize</key>
				<string>{124,169}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,338},{124,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walkAnim0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,169}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,169}</string>
				<key>spriteSourceSize</key>
				<string>{124,169}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{124,338},{124,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>redWalkAnim.png</string>
				<key>textureFileName</key>
				<string>redWalkAnim</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
